@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51));
    -fx-border-radius: 8px;
    -fx-padding: 1px
    }

.table-view .table-column {
    -fx-alignment: center;
}
.table-view .column-header-background{
    -fx-background-color: -fx-background-color: linear-gradient(to bottom, #A5A1A0, #FFFFFF);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 8px 8px;

}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
-fx-min-height: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #000;
    -fx-font-size: "Arial";

}*/
/* Estilo base para el TableView */
.table-view {
    -fx-background-color: #f9f9f9; /* Fondo del TableView */
    -fx-border-color: #002844; /* Color del borde */
    -fx-border-width: 2; /* Ancho del borde */
    -fx-table-cell-border-color: transparent; /* Sin borde entre celdas */
    -fx-padding: 8px; /* Relleno interno */

}

/* Estilo para las filas del TableView */
.table-view .column-header {
    -fx-background-color:  #002844; /* Fondo de los encabezados */
    -fx-text-fill: #fff; /* Color del texto de los encabezados */
    -fx-font-weight: bold; /* Grosor de la fuente de los encabezados */
    -fx-padding: 8px;
}
.table-view .column-header, .filter {

    -fx-size: 40px;
-fx-min-height: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "JetBrains Mono";
}

.table-row-cell {
    -fx-background-color: #ffffff; /* Fondo de las filas */
    -fx-text-fill: #fff; /* Color del texto de las filas */
    -fx-font-family: "JetBrains Mono"; /* Familia de la fuente */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 5; /* Relleno interno */
}

.table-row-cell:selected {
    -fx-background-color: #36576e; /* Fondo de la fila seleccionada */
    -fx-text-fill: #000000; /* Color del texto de la fila seleccionada */
}

.table-row-cell:hover {
    -fx-background-color: #e0e0e0; /* Fondo de la fila al pasar el ratón */
}

/* Estilo para las celdas del TableView */
.table-cell {
    -fx-border-width: 0 0 1 0; /* Ancho del borde de las celdas */
    -fx-border-color: #dcdcdc; /* Color del borde de las celdas */
    -fx-padding: 5; /* Relleno interno */
}

.table-cell:selected {
    -fx-background-color: #f0e68c;
    -fx-text-fill: #000000;
}

.table-cell:hover {
    -fx-background-color: #e0e0e0; /* Fondo de la celda al pasar el mouse */
}





