.tipografia{
-fx-text-inner-color: blank;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.panel1{
 -fx-background-color:  #66B5FF;
 -fx-border-color: #fff;
}

.panel2{
    -fx-background-color:  #006197;
     -fx-border-color: #fff;

}
.panel3{
    -fx-background-color:  #003E45;
     -fx-border-color: #fff;

}

.boton{
    -fx-background-color: #47C863;
    -fx-background-radius: 80px;
    -fx-font-size: 25px;
}

.boton-agregar{
    -fx-font-size: 25px;
    -fx-background-color:  #006197;
    -fx-border-radius: 50px;
    -fx-border-color: white;
    -fx-background-radius: 50px;
}

.boton:hover {
    -fx-background-color: #45a049;
    -fx-scale-x: 1.1; /* Aumenta el tamaño en el eje X */
    -fx-scale-y: 1.1; /* Aumenta el tamaño en el eje Y */
}

.boton:pressed {
    -fx-scale-x: 0.95; /* Reduce el tamaño en el eje X */
    -fx-scale-y: 0.95; /* Reduce el tamaño en el eje Y */
}

.boton-agregar:hover {
    -fx-background-color: white;
    -fx-text-fill: #006197;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-scale-x: 1.1; /* Aumenta el tamaño en el eje X */
    -fx-scale-y: 1.1; /* Aumenta el tamaño en el eje Y */

}

.boton-agregar:pressed {
    -fx-scale-x: 0.95; /* Reduce el tamaño en el eje X */
    -fx-scale-y: 0.95; /* Reduce el tamaño en el eje Y */
}

